*{
    
}

.nav-item{
    font-size: 18px;
    margin: 0px 18px;
    padding: 0px 4px;
    cursor: pointer;
    height: 40px;
    background-color: purple;
    border-radius: 22px;
    min-width: 60px;
    text-align: center;
}

.nav-item:hover{
    font-size: 20px;
    cursor: pointer;
    height: 44px;
    background-color: purple;
    border-radius: 22px;
    min-width: 60px;
    text-align: center;
}

.nav-link{
    color: #fff!important;
}

@media only screen and (max-width: 991px){
    .nav-item{
        font-size: 18px;
        margin: 5px 0px;
        padding: 0px 4px;
        cursor: pointer;
        height: 40px;
        background-color: purple;
        width: 100%;
        text-align: center;
    }

    .nav-item:hover{
        padding: 1px 4px;
        cursor: pointer;
        height: 44px;
        background-color: purple;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
        
}

article{
    padding-top: 90px;
    padding-bottom: 80px;
    background-color: rgb(233, 233, 233);
}


.icon{
    margin: 15px auto;
    padding: 25px;
    background-color: gold;
    border: 2px solid gold;
    border-radius: 100%;
    width: 130px;
    height: 130px;
}


.text-muted{
    text-align: center;
    margin-top: 20px;
}